<div class="full-bkrnd">
  <div class="col-10 offset-1">
    <br />
    <h1>Let loose the dogs of War!</h1>
    <br />
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>News</h2>
    <p>
      Were making the switch back to the main alliance "New Age War" today (11/19), don't worry about souls for individual event they won't reset. Were still trying to get demoted so keep VP low (today) once you get there.  Next season we will be dominating gold league and recruiting there.  
    </p>
    <p>
      Were still new to the dual alliance tactics and there was an issue with leader assignment.  "NAW Yzarr" is still our leader! "B-)", if you see this please leave and rejoin the alliance so we can offically give lead back to Yzarr.  Anyone else with high VP in "New Age War" this season please leave and rejoin to reset your vp.
    </p>
    <p>
      Weekly minimums are 300,000 vp or 35 Battles.  Dont forget to do your daily Quests, Titan Arena, and Titan Monument!
    </p>
    <br />
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <div class="black-box shadow-box">
      <br />
      <p>
        <span>This Season</span><br />
        (11/13 - 11/19)
      </p>
      <div class="season-head">
        <p>
          <span>Alliance:</span>  New Age War2 (alt)<br />
          <span>League:</span>  Champion<br/ >
          <span>Goal:</span>  Growth
        </p>
      </div>
    </div>
    <div class="black-box shadow-box">
      <br />
      <p>
        <span>Next Season</span><br />
        (11/20 - 11/27)
      </p>
      <div class="season-head">
        <p>
          <span>Alliance:</span>  New Age War (main)<br />
          <span>League:</span>  Gold<br />
          <span>Goal:</span>  Recruitment/Growth
        </p>
      </div>
    </div>
    <br/>
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Events</h2>
    <p>
      We plan to start doing events as an alliance.  If we all save our event tokens and all cash them in the same week we can get good rewards for the whole alliance.  Start saving your event tokens!
    </p>
    <br />
  </div>

    <div class="col-12" id="dot-rule">
    </div>

  <div class="col-10 offset-1">

    <br />
    <h2>Guide: Switching Alliances</h2>
    <br />
    <h3><span>Method 1:  Accepting an Invite</span></h3>
    <p>
      When we switch alliances invites will be sent out to all our members.  Invites show up in your "Personal Messages".
    </p>

    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag("img1.png", class: 'img-fluid shadow-box') %>
        <br />
        <p>
          Tap Messages 
        </p>
        <br />
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag("img2.png", class: 'img-fluid shadow-box') %>
        <p>
          Tap Private Messages, and Tap on the Invite.
        </p>
        <br />
      </div>
       <div class="col-12 col-md-6">
        <%= image_tag("img3.png", class: 'img-fluid shadow-box') %>
        <p>
          Tap the invite message, a pop-up menue will appear.  Tap Join and accept.
        </p>
        <br />
      </div>
      <div class="col-12 col-md-6">
      </div>
    </div>

    <h3><span>Method 2:  Search</span></h3>
    
    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag("img4.png", class: 'img-fluid shadow-box') %>
        <p>
          Tap Alliance Profile
        </p>
        <br />
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag("img5.png", class: 'img-fluid shadow-box') %>
        <p>
          Tap Search
        </p>
        <br />
      </div>
       <div class="col-12 col-md-6">
        <%= image_tag("img6.png", class: 'img-fluid shadow-box') %>
        <p>
          Enter "new age war" into the search field.  This will find "New Age War" or "New Age War2"
        </p>
        <br />
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag("img7.png", class: 'img-fluid shadow-box') %>
        <p>
          Tap on the alliance, a pop-up menue will appear.  Tap Join and accept.
        </p>
      </div>
    </div>

  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="row">
    <br />
    <div class="col-12 col-md-6">
      <br />      
      <a href="http://www.dawnoftitans.com/"><%= image_tag("dot-button.png", class: 'img-fluid shadow-box') %></a>
      <br />
    </div>
    <div class="col-12 col-md-6">
      <br />
      <a href="https://dawnoftitans.gamepedia.com/Dawn_of_Titans_Wiki"><%= image_tag("need-help-wiki-button.png", class: 'shadow-box img-fluid') %></a>
      <br />
    </div>
    <br />
  </div>
  <br />


</div>