<div class="full-bkrnd">
  <div class="col-10 offset-1 event">
    <br />
    <h1>Let loose the dogs of War!</h1>
    <hr />
    <h2>News</h2>
    <p>
      We now have 2 alliances "New Age War" (main) and "New Age War2" (alt).  We are currently batteling from our alt alliance and letting our main alliance drop to gold league.
    </p>
    <p>
      Weekly minimums are 300,000 vp or 35 Battles.  Dont forget to do your daily Quests, Titan Arena, and Titan Monument!
    </p>
    <hr />
    <div class="overview">
      <div class="easons">
        <div class="black-box shadow-box">
          <br />
          <h2>This Season</h2>
          <p>
            <span>Alliance:</span>  New Age War2 (alt)<br />
            <span>League:</span>  Champion<br/ >
            <span>Goal:</span>  Growth
          </p>
        </div>
        <div class="black-box shadow-box">
          <br />
          <h2>Next Season</h2>
          <p>
            <span>Alliance:</span>  New Age War2 (alt)<br />
            <span>League:</span>  Champion<br />
            <span>Goal:</span>  Growth
          </p>
        </div>
      </div>
      <br/>
      <hr />

      <h2>Events</h2>
      <p>
        We plan to start doing events as an alliance.  If we all save our event tokens and all cash them in the same week we can get good rewards for the whole alliance.  Start saving your event tokens!
      </p>
      <br />
      <hr />
      <br />
      <h2>Guide: Switching Alliances</h2>
      <br />
      <h3><span>Method 1:  Accepting an Invite</span></h3>
      <p>
        When we switch alliances invites will be sent out to all our members.  Invites show up in your "Personal Messages".
      </p>

      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("img1.png", class: 'img-fluid shadow-box') %>
          <br />
          <p>
            Tap Messages 
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img2.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Private Messages, and Tap on the Invite.
          </p>
          <br />
        </div>
         <div class="col-12 col-md-6">
          <%= image_tag("img3.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap the invite message, a pop-up menue will appear.  Tap Join and accept.
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
        </div>
      </div>

      <h3><span>Method 2:  Search</span></h3>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("img4.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Alliance Profile
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img5.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Search
          </p>
          <br />
        </div>
         <div class="col-12 col-md-6">
          <%= image_tag("img6.png", class: 'img-fluid shadow-box') %>
          <p>
            Enter "new age war" into the search field.  This will find "New Age War" or "New Age War2"
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img7.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap on the alliance, a pop-up menue will appear.  Tap Join and accept.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>