<div class="full-bkrnd">
  <div class="col-10 offset-1">
    <br />
    <h1>Cry Havoc, and let slip the dogs of war!!</h1>
    <br />
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>News</h2>
    <p>
      We are staying in New Age War and pushing hard for VP in elite league!
    </p>
    <p>
      Welcome new members! After a week of farming and building looking forward to batteling together for victory.
    </p>
    <p>
      Weekly minimums are 500,000 vp OR 40 Battles won.  Dont forget to do your daily Quests, Titan Arena, and Titan Monument!
    </p>
    <br />
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <div class="black-box shadow-box">
      <br />
      <p>
        <span>This Season</span><br />
        (01/22 - 01/28)
      </p>
      <div class="season-head">
        <p>
          <span>Alliance:</span>  New Age War<br />
          <span>League:</span> Elite <br/ >
          <span>Goal:</span>  Victory
        </p>
      </div>
    </div>
    <div class="black-box shadow-box">
      <br />
      <p>
        <span>Next Season</span><br />
        (01/29 - 02/04)
      </p>
      <div class="season-head">
        <p>
          <span>Alliance:</span>  Undecided<br />
          <span>League:</span> ??? <br/ >
          <span>Goal:</span>  ???
      </div>
    </div>
    <br/>
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Events</h2>
    <p>
      We plan to start doing events as an alliance.  If we all save our event tokens and all cash them in the same week we can get good rewards for the whole alliance.  Start saving your event tokens!
    </p>
    <p>
      There is a weekly live stream form the game devolipers it can be found on the <a href="https://www.youtube.com/channel/UCtqkm7gK2TMZujfxGxhGoRw/videos" >Dawn of Titans Youtube channel</a>.  They go over the next soul event and some other current items.  There is a lot of nonsense but some good information too.
    </p>
    <br />
  </div>


  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <h2>Titan, Troop, and Relic Calculator</h2>
     <button class="toggelBtn" onclick="hideCalculator()"><span>Hide/Show</span></button>
     <br />

    <div id="calculator">
      <br />
      <p>
        This is a very usefull <a href="http://dotdatabase.net/">Titan/Troop/Relic Calculator</a>.  It alows you to input the specific skills for your titan, change the level of the titan and well as equip speccific relics to the titan so you can see what the result would be.  It does the same for troops and relics.  Can be very usefull to check out titans and relics before you decide to level them up.
      </p>
    </div>

  </div>
  <br />


  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Damage, Resistance, Armor, and Armor Piercing Explained</h2>
     <button class="toggelBtn" onclick="hideDamage()"><span>Hide/Show</span></button>
     <br />

    <div id="damage">
      <br />
      <p>
        The system for calculating damage in DOT is complicated understanding how resistance armor and armor piercing interact can be very beneficial.
      </p>
      <p>
        <a href="https://www.youtube.com/watch?v=uJFD-nTQ-JQ">Check out this short video for a detailed explanation!!</a>
      </p>
    </div>
  </div>
  <br />

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <h2>Troop Attack Priority</h2>
     <button class="toggelBtn" onclick="hideTroop()"><span>Hide/Show</span></button>
     <br />

    <div id="troop">
      <br />
      <p>
        All of the troops have unique attack priority, they prefer to attack some units over others.  By knowing troop attack priority you can predict what troops will do in battle.
      </p>
   
      <p>
        <h4>Militia target</h4>
        Grenadiers > Archers > Titan, Militia > Panthers > Goliaths, Spearmen, Imperials
      </p>

      <p>
        <h4>Archers target</h4>
        Titan > All Units
      </p>

      <p>
        <h4>Spearmen targets</h4>
        Milita > Panthers > Goliaths > Titan, Spearmen > Imperials > Archers > Grenadiers
      </p>

      <p>
        <h4>Grenadiers target</h4>
        Archers, Grenadiers, Panthers, Titan > Militia, Imperials, Spearmen > Goliaths
      </p>

      <p>
        <h4>Panthers target</h4>
        Archers, Grenadiers > Militia > Ranger > Spearmen, Imperials, Goliaths, Panthers, non-Ranger Titan
      </p>

      <p>
        <h4>Imperials target</h4>
        Panthers > Militia, Archers, Spearmen > Grenadiers, Imperials > Goliaths > Titan
      </p>
      
      <p>
        <h4>Goliaths target</h4>
        Militia, Archers > Spearmen, Panthers > Titan, Goliaths > Imperials > Grenadiers
      </p>
      <br />

    </div>
  </div>
  <br />

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Guide: Switching Alliances</h2>
    <button class="toggelBtn" onclick="hideSwitch()"><span>Hide/Show</span></button>
    <br />
    <div id="switchGuide"> 
      <br />
      <h3><span>Method 1:  Accepting an Invite</span></h3>
      <p>
        When we switch alliances invites will be sent out to all our members.  Invites show up in your "Personal Messages".
      </p>

      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("img1.png", class: 'img-fluid shadow-box') %>
          <br />
          <p>
            Tap Messages 
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img2.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Private Messages, and Tap on the Invite.
          </p>
          <br />
        </div>
         <div class="col-12 col-md-6">
          <%= image_tag("img3.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap the invite message, a pop-up menue will appear.  Tap Join and accept.
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
        </div>
      </div>

      <h3><span>Method 2:  Search</span></h3>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("img4.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Alliance Profile
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img5.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Search
          </p>
          <br />
        </div>
         <div class="col-12 col-md-6">
          <%= image_tag("img6.png", class: 'img-fluid shadow-box') %>
          <p>
            Enter "new age war" into the search field.  This will find "New Age War" or "New Age War2"
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img7.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap on the alliance, a pop-up menue will appear.  Tap Join and accept.
          </p>
        </div>
      </div>

    </div>
  </div>
    <br />

  <div class="col-12" id="dot-rule">
  </div>


  <div class="col-10 offset-1">
    <div class="row">
      <br />
      <div class="col-12 col-md-6">
        <br />      
        <a href="http://www.dawnoftitans.com/"><%= image_tag("dot-button.png", class: 'img-fluid shadow-box') %></a>
        <br />
      </div>
      <div class="col-12 col-md-6">
        <br />
        <a href="https://dawnoftitans.gamepedia.com/Dawn_of_Titans_Wiki"><%= image_tag("need-help-wiki-button.png", class: 'shadow-box img-fluid') %></a>
        <br />
      </div>
      <br />
    </div>
  </div>


  <br />
</div>

<script>

  function hideSwitch() {
    var x = document.getElementById("switchGuide");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }

  function hideDamage() {
    var x = document.getElementById("damage");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }

  function hideCalculator() {
    var x = document.getElementById("calculator");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }

  function hideTroop() {
    var x = document.getElementById("troop");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }
  
</script>