<div class="full-bkrnd">
  <div class="col-10 offset-1">
    <br />
    <h1>Cry Havoc, and let slip the dogs of war!!</h1>
    <br />
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>News</h2>
    <p>
      We are sitting tight in New Age War2 (elite league) to focus on upgrading while we let New Age War fall back to gold league.
    </p>
    <p>
      Everyone should join our Line chat.  It's a great way for us all to be able to chat in the same place!  It also allows for photo/video/link sharing which is a great way to share information and strategy.  There are instructions below on how to join.
    </p>
    <p>
      Weekly minimums are 500,000 vp OR 50 Battles won.  Dont forget to do your daily Quests, Titan Arena, and Titan Monument!
    </p>
    <br />
  </div>
  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <h2>Joining Our Line Chatroom</h2>
     <button class="toggelBtn" onclick="hideLine()"><span>Hide/Show</span></button>
     <br />

    <div id="line">
      <br />
      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("line.png", class: 'img-fluid shadow-box') %>
          <p>
            Install the Line app from <a href="https://play.google.com/store/apps/details?id=jp.naver.line.android&hl=en">Google Play</a> or the <a href="https://itunes.apple.com/us/app/line/id443904275?mt=8">App Store</a> and create an account.
          </p>
          <p>
            This button below should allow you to join our channel, tap it and select "Line" to open the link.
            <br />
            <button id="lineBtn"><a href="http://line.me/R/ti/g/ho26wzCVZD">Join Line Chat</a></button>
            <br />
            If the link doesnt work...
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("lineSearch.png", class: 'img-fluid shadow-box') %>
          <p>
            You can find us by searching.  Tap on the people icon, then the search icon.
          </p>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("linePeople.png", class: 'img-fluid shadow-box') %>
          <p class="text-center">
            In the search field enter "yzarr" or "mustacheo_gan".  Tap "search for LINE ID ...".
          </p>
        </div>
        <br />
        <div class="col-12 col-md-6">
          <%= image_tag("lineChat.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap on chat to message one of us for an invite.
          </p>
        </div>
      </div>
    </div>

  </div>
  <br />



  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <div class="black-box shadow-box">
      <br />
      <p>
        <span>New Age War</span><br />
        (01/29 - 02/07)
      </p>
      <div class="season-head">
        <p>
          <span>League:</span> Elite <br/ >
          <span>Goal:</span>  demotion
        </p>
      </div>
    </div>
    <div class="black-box shadow-box">
      <br />
      <p>
        <span>New Age War2</span><br />
        (01/29 - 02/07)
      </p>
      <div class="season-head">
        <p>
          <span>League:</span> Elite <br/ >
          <span>Goal:</span>  Growth
    </div>
    <br/>
  </div>

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Events</h2>
    <p>
      Don't cash in your event relic tokens at the temple, you can save them for future events.  They will disappear after the event but when the next event starts they will reappear.  We plan to start doing events as an alliance.  If we all save our event tokens and all cash them in the same week we can get good rewards for the whole alliance.  Start saving your event tokens!
      <br />
      <%= image_tag("tokens.png", class: 'img-fluid shadow-box') %>
    </p>
    <p>
      There is a weekly live stream form the game devolipers that can be found on the <a href="https://www.youtube.com/channel/UCtqkm7gK2TMZujfxGxhGoRw/videos" >Dawn of Titans Youtube channel</a>.  They go over the next soul event and some other current items.  There is a lot of nonsense but some good information too.
    </p>
    <br />
  </div>


  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <h2>Titan, Troop, and Relic Calculator</h2>
     <button class="toggelBtn" onclick="hideCalculator()"><span>Hide/Show</span></button>
     <br />

    <div id="calculator">
      <br />
      <p>
        This is a very usefull <a href="http://dotdatabase.net/">Titan/Troop/Relic Calculator</a>.  It alows you to input the specific skills for your titan, change the level of the titan and well as equip speccific relics to the titan so you can see what the result would be.  It does the same for troops and relics.  Can be very usefull to check out titans and relics before you decide to level them up.
      </p>
    </div>

  </div>
  <br />


  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Damage, Resistance, Armor, and Armor Piercing Explained</h2>
     <button class="toggelBtn" onclick="hideDamage()"><span>Hide/Show</span></button>
     <br />

    <div id="damage">
      <br />
      <p>
        The system for calculating damage in DOT is complicated understanding how resistance armor and armor piercing interact can be very beneficial.
      </p>
      <p>
        <a href="https://www.youtube.com/watch?v=uJFD-nTQ-JQ">Check out this short video for a detailed explanation!!</a>
      </p>
    </div>
  </div>
  <br />

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <h2>Troop Attack Priority</h2>
     <button class="toggelBtn" onclick="hideTroop()"><span>Hide/Show</span></button>
     <br />

    <div id="troop">
      <br />
      <p>
        All of the troops have unique attack priority, they prefer to attack some units over others.  By knowing troop attack priority you can predict what troops will do in battle.
      </p>
   
      <p>
        <h4>Militia target</h4>
        Grenadiers > Archers > Titan, Militia > Panthers > Goliaths, Spearmen, Imperials
      </p>

      <p>
        <h4>Archers target</h4>
        Titan > All Units
      </p>

      <p>
        <h4>Spearmen targets</h4>
        Milita > Panthers > Goliaths > Titan, Spearmen > Imperials > Archers > Grenadiers
      </p>

      <p>
        <h4>Grenadiers target</h4>
        Archers, Grenadiers, Panthers, Titan > Militia, Imperials, Spearmen > Goliaths
      </p>

      <p>
        <h4>Panthers target</h4>
        Archers, Grenadiers > Militia > Ranger > Spearmen, Imperials, Goliaths, Panthers, non-Ranger Titan
      </p>

      <p>
        <h4>Imperials target</h4>
        Panthers > Militia, Archers, Spearmen > Grenadiers, Imperials > Goliaths > Titan
      </p>
      
      <p>
        <h4>Goliaths target</h4>
        Militia, Archers > Spearmen, Panthers > Titan, Goliaths > Imperials > Grenadiers
      </p>
      <br />

    </div>
  </div>
  <br />

  <div class="col-12" id="dot-rule">
  </div>

  <div class="col-10 offset-1">
    <br />
    <h2>Guide: Switching Alliances</h2>
    <button class="toggelBtn" onclick="hideSwitch()"><span>Hide/Show</span></button>
    <br />
    <div id="switchGuide"> 
      <br />
      <h3><span>Method 1:  Accepting an Invite</span></h3>
      <p>
        When we switch alliances invites will be sent out to all our members.  Invites show up in your "Personal Messages".
      </p>

      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("img1.png", class: 'img-fluid shadow-box') %>
          <br />
          <p>
            Tap Messages 
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img2.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Private Messages, and Tap on the Invite.
          </p>
          <br />
        </div>
         <div class="col-12 col-md-6">
          <%= image_tag("img3.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap the invite message, a pop-up menue will appear.  Tap Join and accept.
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
        </div>
      </div>

      <h3><span>Method 2:  Search</span></h3>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <%= image_tag("img4.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Alliance Profile
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img5.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap Search
          </p>
          <br />
        </div>
         <div class="col-12 col-md-6">
          <%= image_tag("img6.png", class: 'img-fluid shadow-box') %>
          <p>
            Enter "new age war" into the search field.  This will find "New Age War" or "New Age War2"
          </p>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag("img7.png", class: 'img-fluid shadow-box') %>
          <p>
            Tap on the alliance, a pop-up menue will appear.  Tap Join and accept.
          </p>
        </div>
      </div>

    </div>
  </div>
    <br />

  <div class="col-12" id="dot-rule">
  </div>


  <div class="col-10 offset-1">
    <div class="row">
      <br />
      <div class="col-12 col-md-6">
        <br />      
        <a href="http://www.dawnoftitans.com/"><%= image_tag("dot-button.png", class: 'img-fluid shadow-box') %></a>
        <br />
      </div>
      <div class="col-12 col-md-6">
        <br />
        <a href="https://dawnoftitans.gamepedia.com/Dawn_of_Titans_Wiki"><%= image_tag("need-help-wiki-button.png", class: 'shadow-box img-fluid') %></a>
        <br />
      </div>
      <br />
    </div>
  </div>


  <br />
</div>

<script>

  function hideSwitch() {
    var x = document.getElementById("switchGuide");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }

  function hideDamage() {
    var x = document.getElementById("damage");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }

  function hideCalculator() {
    var x = document.getElementById("calculator");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }

  function hideTroop() {
    var x = document.getElementById("troop");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }
  
  function hideLine() {
    var x = document.getElementById("line");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }
</script>